db.sqlite3
user_oswaldosei9@gmail.com
accounts\_pycache_
accounts\migrations\_pycache_
accounts\migrations\0001_initial.py 
blogapp\_pycache_
blogapp\migrations\_pycache_
blogapp\migrations\0001_initial.py 
blogproject\_pycache_
bloggerhandle\_pycache_
bloggerhandle\migrations\_pycache_
bloggerhandle\migrations\0001_initial.py
