
accounts\__pychache__
accounts\migrations\__pychache__
accounts\migrations\0001_initial.py 
__pychache__
migrations\__pychache__
migrations\0001_initial.py 

bloggerhandle\__pychache__
bloggerhandle\migrations\__pychache__
bloggerhandle\migrations\0001_initial.py
